services:
  postgresql:
    image: postgres:18
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_DB: benchmark
    ports:
      - "5432:5432"
    volumes:
      - ./postgresql_schema.sql:/docker-entrypoint-initdb.d/init.sql
